SQLiteAnalyzer.pro.user
build
src/build
*.o
.qmake.stash
*.app
moc_*
ui_mainwindow.h
src/release
src/debug
src/.qtc_clangd
src/Makefile*
src/recents
src/.idea
src/cmake-build-debug
.vscode/settings.json
src/artifacts
.DS_Store
src/.qt
src/CMakeFiles
src/SQLQueryAnalyzer_autogen
*.dmg
src/cmake_install.cmake
src/CMakeCache.txt
src/SQLQueryAnalyzer
src/.cmake
src/.ninja*
src/build.ninja
src/Testing
src/.sonarlint
.vs
CMakeFiles
SQLQueryAnalyzer_autogen
cmake_install.cmake
CMakeCache.txt
SQLQueryAnalyzer
.cmake
.ninja*
build.ninja
cmake-build-debug
artifacts/SQLQueryAnalyzer-Setup.exe
*.nupkg
/6.*/
*aqtinstall.log
linux/usr/share/icons/hicolor/256x256/apps/sqlquery.png
SQLQueryAnalyzer-1.0-Linux.7z
SQLQueryAnalyzer-1.0-Linux.deb
SQLQueryAnalyzer-1.0-Linux.rpm
SQLQueryAnalyzer-1.0-Linux.tar.Z
SQLQueryAnalyzer-1.0-Linux.tar.bz2
SQLQueryAnalyzer-1.0-Linux.tar.gz
SQLQueryAnalyzer-1.0-Linux.tar.xz
SQLQueryAnalyzer-1.0-Linux.zip
sqlquery_1.0.0_amd64.snap
_CPack_Packages
linux/bin
linux/lib
linux/plugins
linux/translations
*.snap
_codeql_detected_source_root
.squad/orchestration-log/
.squad/log/
.squad/decisions/inbox/
.squad/sessions/
.squad-workstream
.idea
debug
release
Makefile.Debug
Makefile.Release
dist/artifacts
cmake-build-debug-visual-studio-2026
